@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    
    font-family: "Afacad Flux", system-ui;
}

h1 {
    font-size: x-large;
    text-align: center;
    padding-bottom: 30px;
}

.message-board {
    padding: 30px 20px;
    margin: 30px 10px;
    background-color: rgb(255, 255, 241);
    border-radius: 15px;
    overflow-y: auto;
    max-height: 600px;
}

.message {
    padding: 15px 10px;
    margin: 5px;
    background-color: rgb(249, 227, 227);
    border-radius: 10px;
}

.date-added {
    margin-bottom: -6px;
    font-size: small;
}


.message-text {
    margin: 0 10px;
    font-size: large;
}