@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

* {
    margin: 0;
    padding: 0;

    font-family: "Afacad Flux", system-ui;
}

h1 {
    font-size: x-large;
    text-align: center;
    padding-bottom: 30px;
}

.message-board {
    border-radius: 15px;
    overflow-y: auto;
}

.message {
    padding: 15px 10px;
    margin: 5px;
    background-color: rgb(249, 227, 227);
    box-shadow: 0px 2px 20px 15px whitesmoke;
    border-radius: 10px;
}

.date-added {
    margin-bottom: -6px;
    font-size: small;
}

.message-text {
    margin: 0 10px;
    font-size: large;
}

.form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(241, 241, 241);
    box-shadow: 0px 0px 30px 10px whitesmoke;
    border-radius: 10px;
    padding: 30px 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 5px;
}

input {
    align-self: center;
    width: 60%;
    padding: 5px 10px;
    margin: -10px 5px 10px;
    border-radius: 15px;
    border-style: none;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 0px 0px 10px 3px rgb(227, 227, 227);
}

.send-message {
    align-self: center;
    padding: 10px 25px;
    margin-top: 15px;
    border-radius: 20px;
    border: none;
}

@media only screen and (max-width: 600px) {
    .message-board {
        padding: 30px;
        margin: 30px 10px;
        max-height: 425px;
    }

    .form {
        margin: 5px 10%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1400px) {
    .message-board {
        padding: 30px 6%;
        margin: 30px 10%;
        max-height: 500px;
    }

    .form {
        margin: 10px 20%;
    }
}

@media only screen and (min-width: 1400px) {
    .message-board {
        padding: 30px 5%;
        margin: 30px 20%;
        max-height: 550px;
    }

    .form {
        margin: 10px 30%;
    }
}
