.icon-list {
    display: flex;
    list-style: none;
    column-gap: 10px;
    padding: 10px 15px 30px;
    overflow-x: auto;
}

.icon {
    display: flex;
    flex-shrink: 0;
    border: 0.5px solid rgb(150, 150, 150);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: rgb(255, 100, 100);
}

.green {
    background-color: lightgreen;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.cyan {
    background-color: cyan;
}

.deepskyblue {
    background-color: deepskyblue;
}

.violet {
    background-color: violet;
}

.pink {
    background-color: pink;
}

.gray {
    background-color: lightgray;
}

.goldenrod {
    background-color: goldenrod;
}

.darkgray {
    background-color: rgb(162, 162, 162);
}