<form method="POST" action="/new">
    <label for="user">User: </label>
    <input type="text" name="user" id="user" />

    <label for="message-content">Message to be sent: </label>
    <input type="text" name="message-content" id="message-content" />

    <button>Send Message!</button>
</form>
