<form method="POST" action="/new" class="form">
    <div class="input-container">
        <label for="user-name">User: </label>
        <input type="text" name="username" id="user-name" required maxlength="32"/>
    </div>

    <div class="input-container">
        <label for="message-content">Message to be sent: </label>
        <input type="text" name="messageContent" id="message-content" required maxlength="250"/>
    </div>

    <button class="send-message">Send Message!</button>
</form>
