<form method="POST" action="/new">
    <label for="user-name">User: </label>
    <input type="text" name="userName" id="user-name" />

    <label for="message-content">Message to be sent: </label>
    <input type="text" name="messageContent" id="message-content" />

    <button>Send Message!</button>
</form>
