<div>
    <h2>Users</h2>

    <ul class="icon-list">
        <% let allUsers = []; %>
        <% let allUsersMinified = []; %>
        <% let randomColors = ["red", "green", "white", "yellow", "cyan", "deepskyblue", "violet", "pink", "gray", "goldenrod", "darkgray"]; %>

        <% for (let i = 0; i < messages.length; i++) { %>
            <% if (!allUsers.includes(messages[i].username)) { %>
                <% allUsers.push(messages[i].username); %>

                <% let minified = messages[i].username.length > 1 ? String(messages[i].username).substring(0, 1) + String(String(messages[i].username).slice(-1)).toUpperCase() : String(messages[i].username).substring(0, 1); %>

                <% if (!allUsersMinified.includes(minified)) { %>
                    <% allUsersMinified.push(minified); %>
                    
                    <li class="icon <%= randomColors[Math.floor(Math.random() * randomColors.length)] %>"><%= minified %></li>
                <% } %>
            <% } %>
        <% } %>
    </ul>
</div>
